/* Mobile Phones */
@media screen and (max-width: 767px) {
  body{
    padding: .8em;
  }
  form {
    display: flex;
    gap: 2em;
    width: 100%;
    flex-direction: column;
  }
}
/* Tablets */
@media screen and (min-width: 767px) and (max-width: 1023px) {
  form{
    display: grid;
    gap: 2em;
    width: 100%;
    grid-template-columns: 1fr 1fr;
  
  .custom-input{
    max-width: 100%;
    flex-shrink: 0;
  }
  }

}
/* Desktop and Laptops */
@media screen and (min-width: 1024px) {
  form {
    display: grid;
    gap: 2em;
    width: 100%;
    max-width: 80%;
    align-items: center;
    grid-template-columns: repeat(2, auto);
  }
}
